* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;

}

.font-bangla {
    font-family: "Hind Siliguri", sans-serif;
}


.container {
    width: 100%;
    max-width: 110rem;
    margin-inline: auto;
    padding-inline: clamp(1rem, 4vw, 2rem);
}

.active {
    background-color: blue;
    color: white;
}


:root {

    --bg-color: #ffffff;
    --text-color: #111827;
    --nav: #ffffff;
    --modal-word: #1f2937;
}

[data-theme="dark"] {
    --bg-color: #134f5d;
    --text-color: #f9fafb;
    --nav: #134f5d;
    --modal-word: #134f5d;
}